
.DrinksCombos-Header{
  
    padding-top: 2.5rem;
    color:rgb(255, 0, 0);
    position: relative;
    z-index: 1;  
 }
 ul {
  list-style-type: none; /* This removes the bullet points */
  /* This removes the default padding on the left, often useful for aligning the list items to the left */
}

.DrinksCombos-section {
  background-color: white; /* Sets the background of the card to white */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for a 3D effect */
  padding: 20px; /* Adds space inside the card around the content */
  margin: 20px; /* Adds space around the card */
  transition: all 0.3s ease; /* Smooth transitions for hover effects */

  
    &:hover {
      box-shadow: 0 0 1px rgba(39, 44, 49, 0.1),
        0 3px 16px rgba(39, 44, 49, 0.07);
      transition: all 0.3s ease;
      transform: translate3D(0, -1px, 0);
    }
  
    /* .content {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      height: 100%;
      min-height: auto;
      padding: 1.25rem;
  

    } */
  }
  

