.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}
.phoneNumber{
  height: 5rem;
  background:black;
  color: white;
  display: grid;
  place-items: center;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-sersif;
  border: 5px solid #ffffff;
}
.beersAddres{
  
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
margin:0;
height: 8rem;
}
.Beers {
  width: 15rem;
  height: auto; /* Ensure the image takes up the full height */
  object-fit:contain;
  padding: 0 4rem;
}

.adress{
  flex: 1;
  position: 1;
  
  color: red;
  display: grid;
  place-items: center;
  font-size: 1.75rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-sersif;
  margin: 0 1rem;
  padding-top: -20px;
}