.carousel-image {
    
    width: 100vw;
    height: 100vw;
   object-fit: cover;
   margin: 0;
        place-items: center;
  margin-top:7rem;
  margin-left: 15rem;
      width: 100%; /* Make the image fill the container */
  
  
  }



