.nav-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: flex;
    top: 1.5rem;
    left: 1rem;
    z-index: 10000;
}

.navitems {
    position:relative;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Alex Brush", cursive;
}

.navitems.open {
    display: flex;
}

.navitems ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navitems li {
    padding: 1.5rem 0;
    padding-top: 2.5rem;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    border-bottom: 0.5px solid #606060;
    justify-content: space-between;
}

.navitems li:last-child {
    border-bottom: none;
}

.navitems a:hover, .navitems li a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .navitems {
        display: flex; /* Display navigation items */
        position: static; /* Remove fixed positioning */
        height: auto; /* Adjust height to content */
        background-color: transparent; /* Clear background */
        align-items: center; /* Align items in the center */
        border-bottom: none;
    }}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        border-bottom: none;
    }

    .navitems {
        display: none;
    }

    .navitems.open {
        display: flex;
        top: 2.5rem;
        background-color: rgba(255, 255, 255);
    }

    .navitems.open ul {
        display: contents;
    }

    .navitems.open li {
        display: block;
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }
}
