@font-face {
  font-family: 'Phosphate';
  src: url('./components/Fonts/PhosphateRR\ Solid.ttf') format('truetype'),;
  font-style: normal;
  font-family: 'KaushanScript-Regular';
  src: url('./components/Fonts/KaushanScript-Regular.ttf') format('truetype'),;
  font-style: normal;
}
.App
{
  width: 100%; /* Occupy the entire width of the viewport */
  max-width: Auto; /* Limit the maximum width to 320px */
  margin: 0 auto; /* Center the element horizontally */
  padding: 6.25rem 2.5rem;
  text-align: left; /* Center the content within the element */
}
.list-column{
  font-family: "Share Tech Mono", monospace;
}

@media (min-width: 320px) {
  .logo{
    width: 100%;
    }
 .best {
  font-size: 2.5rem;
 }
    .Breakfast-Header, 
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header,
  .Caterings-Header,
  .Drinks-Header {
    font-size: 1rem;
    font-family: "KaushanScript-Regular";
    font-weight: 900;
    font-style: bold;
      /* padding-left: 1rem;
      padding-top: 2.5rem; */
      color:rgb(255, 0, 0);
      position: relative;
      z-index: 1;   /* Adjust the font size for mobile screens */}
 
}

@media (min-width: 375px) {
  .logo{
    width: 100%;
   }
  .Breakfast-Header, 
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header,
  .Caterings-Header,
  .Drinks-Header {
    font-size: 3rem;  
    font-family: "KaushanScript-Regular";
    font-weight: 900;
    font-style: bold;
      padding-left: 1rem;
      padding-top: 2.5rem;
      color:Red(0, 0, 0);
      position: relative;
      z-index: 1;   /* Adjust the font size for slightly larger screens */ 
    }
}

@media (min-width: 425px) {
  .logo{
    width: 100%;
   }
  .salads-Header  {
    font-size:5rem;
    color: green;
}

  .Breakfast-Header,
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .Caterings-Header,
  .KidsSubs-Header{
  font-size:5rem;
  color: red;}
  .Drinks-Header {
    font-size: 6rem;
    font-family: "KaushanScript-Regular";
      padding-left: 1rem;
      padding-top: 2.5rem;
      color:red;
      position: relative;
      z-index: 1;   /* Adjust the font size for larger screens */
  }
}

@media (min-width: 768px) {
 .logo{
  width: 100%;
 }
  .salads-Header{
    font-size:11rem;
    color: green;
}
.KidsSubs-Header
  {
    font-size:10rem;
    color: red;}
  .Breakfast-Header,
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .Caterings-Header,
  .DrinksCombos-Header {
    font-size: 7rem;
      font-family: "KaushanScript-Regular";
      font-weight: 100;
      font-style: normal;
        padding-left: 1rem;
        padding-top: 2.5rem;
        color:red;
        position: relative;
        z-index: 1;  
     } 
  }
