.App
{
  width: 100%; /* Occupy the entire width of the viewport */
  max-width: Auto; /* Limit the maximum width to 320px */
  margin: 0 auto; /* Center the element horizontally */
  padding: 6.25rem 2.5rem;
  text-align: left; /* Center the content within the element */
}
.list-column{
  font-family: "Share Tech Mono", monospace;


}

.body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
@media (min-width: 320px) {
  .Breakfast-Header, 
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header,
  .DrinksCombos-Header {
    font-size: 1rem;
    font-family: "Alex Brush", cursive;
    font-weight: 900;
    font-style: bold;
      padding-left: 1rem;
      padding-top: 2.5rem;
      color:rgb(255, 0, 0);
      position: relative;
      z-index: 1;   /* Adjust the font size for mobile screens */}
.image-container{
  margin-left: 1rem;
}
}
 



@media (min-width: 375px) {
  .Breakfast-Header, 
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header,
  .DrinksCombos-Header {
    font-size: 3rem;  
    font-family: "Alex Brush", cursive;
    font-weight: 900;
    font-style: bold;
      padding-left: 1rem;
      padding-top: 2.5rem;
      color:rgb(0, 0, 0);
      position: relative;
      z-index: 1;   /* Adjust the font size for slightly larger screens */
      
    }
    .image-container{
      margin-left: .5rem;
    }
}

@media (min-width: 425px) {
  .Breakfast-Header,
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header,
  .DrinksCombos-Header {
    font-size: 3rem;
    font-family: "Alex Brush", cursive;
    font-weight: 900;
    font-style: bold;
      padding-left: 1rem;
      padding-top: 2.5rem;
      color:rgb(0, 0, 0);
      position: relative;
      z-index: 1;   /* Adjust the font size for larger screens */
  }
}

@media (min-width: 768px) {
  .Breakfast-Header,
  .ColdSubsWraps-Header,
  .HotSubsWraps-Header,
  .salads-Header,
  .KidsSubs-Header, 
  .DrinksCombos-Header {
    font-size: 5rem;
      font-family: "Alex Brush", cursive;
      font-weight: 900;
      font-style: bold;
        padding-left: 1rem;
        padding-top: 2.5rem;
        color:rgb(0, 0, 0);
        position: relative;
        z-index: 1;  
     } /* Adjust the font size for even larger screens */
  }
