
.KidsSubs-Header{
   
    padding-top: 2.5rem;
    color: black; 
    position: relative;
    z-index: 1;  
 }
 ul {
  list-style-type: none; /* This removes the bullet points */
  /* This removes the default padding on the left, often useful for aligning the list items to the left */
}

.salad-Card{
  background-color: white;
  border-radius: 10%;
  color: black;
}

.salads-section {
 
    padding-top: 2.5rem;
    color:black;
    position: relative;
    z-index: 1;  
    font-family: "Share Tech Mono", monospace;
  }
  
 
   ul {
    list-style-type: none; /* This removes the bullet points */
    /* This removes the default padding on the left, often useful for aligning the list items to the left */
  
  }
  .salads-section{
    
    background-color: goldenrod;
    padding: 20px; /* Adds space inside the card around the content */
    margin: 0px; /* Adds space around the card */
    transition: all 0.3s ease; /* Smooth transitions for hover effects */
  
    
      &:hover {
        box-shadow: 0 0 1px rgba(39, 44, 49, 0.1),
          0 3px 16px rgba(39, 44, 49, 0.07);
        transition: all 0.3s ease;
        transform: translate3D(0, -1px, 0);
      }
    
    }
    .salads-list{  
      padding-left: 2%;
      font-weight: 700 ;
      font-size: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
  
    }
    
 .KidsSubs-list {
  font-size: 1.5rem;
  padding-left: 2%;
  font-weight: 700 ;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

 } 
 .Kids-Combos-list {
  font-size: 1.5rem;
  padding-left: 2%;
  font-weight: 700 ;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }